.widget-dialog{
    position: relative;
    background: #fff;
    @include border-radius(5px);
    @include box-shadow(1px 1px 1px #ccc);
    .dialog-close{
        font-size: 18px;
        color: #ccc;
        line-height: 24px;
        float: right;
        padding: 5px 10px 0 0;
        position: relative;
        z-index: 1004;
        &:hover{
            color: #333;
            text-decoration: none;
        }
    }
    .header{
        height: 40px;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        @include border-top-left-radius(5px);
        @include border-top-right-radius(5px);
        .title{
            font-size: 18px;
            font-weight: 600;
            line-height: 40px;
            vertical-align: middle;
            padding-left: 10px;
        }
    }
    .main{
        padding: 20px;
        font-size: 14px;
        line-height: 24px;
    }
    .footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 0;
        border-top: 1px solid #ccc;
        *zoom:1;
        &:before,&:after{
            content:"";
            display:table;
        }
        &:after{
            clear: both;
        }
        .buttons{
            float: right;
            .btn{
                margin-right: 10px;
            }
        }
    }
}