{% extends "index/base.html" %}

{% block body %}
    <style>
        .wrap {
            text-align: center;
            padding: 150px 0
        }

        .download-wrap img {
            width: 240px;
        }

        .hide {
            display: none;
        }
    </style>
    <div class="container contact">
        <div class="head-tip">
            <div class="row">
                <div class="col-md-5  hidden-sm hidden-xs"><span class="line"></span></div>
                <div class="col-md-2  col-sm-2 ">狗不理客服</div>
                <div class="col-md-5  hidden-sm hidden-xs"><span class="line"></span></div>
            </div>
        </div>
        <div class="container">
            <div class="body">
                <h1 style="text-align: center">
                    让你的每一位顾客都满意
                </h1>
            </div>
        </div>
    </div>
    <script>
        (function ($) {
            var toggle = $('.toggle');
            toggle.on('mouseenter', function () {
                var _this = $(this);
                _this.addClass('active').siblings('.toggle').removeClass('active');
            });
            $(document).on('click', function (e) {
                var tar = $(e.target);
                if (!tar.hasClass('btn-gray')) {
                    toggle.removeClass('active');
                }
            })

        }(jQuery));
    </script>
{% endblock %}
