{% extends "layout/im.html" %}

{% block breadcrumb %}
  <div class="breadcrumb">
    <div class="inner-wrapper">
      <ol>
        <li>
          <a href="/store">商店列表</a>
        </li>
        <li class="arrow">
          <span>&gt;</span>
        </li>
        <li class="active">
          <a href="/store/{{data.store_id}}/seller">客服人员</a>
        </li>
        <li class="arrow">
          <span>&gt;</span>
        </li>
        <li class="active">
          <span>添加人员</span>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="container">
    {{ self.breadcrumb() }}
    <div class="inner-wrapper">
      <div class="one-wrapper">
        <div class="panel">
          <div class="app-form">
            <div class="center-section">
              <div class="form-1 push-add-form">

                <form accept-charset="utf-8" method="post" action="/store/{{data.store_id}}/seller" enctype="multipart/form-data">




<table>
    <tbody>

        <tr class="">
        <th>
            <div class="th">
                <label class="label-1">
                    <span class="star">*</span>
                    客服名称:
                </label>
            </div>
        </th>
        <td>
            <div class="td ">

            <input type="text" class="ipt" size="30" maxlength="80" value="" name="name" id="name" data-name="客服名称" data-validate="" data-required="">
            <input type="hidden" name="" id="id" value="">
            <p class="error">&nbsp;</p>

            </div>
        </td>
    </tr>
    <tr class="">
    <th>
        <div class="th">
            <label class="label-1">
                <span class="star">*</span>
                客服密码:
            </label>
        </div>
    </th>
    <td>
        <div class="td ">

        <input type="password" class="ipt" size="30" maxlength="80" value="" name="password" id="password" data-name="客服密码" data-validate="" data-required="">

        <p class="error">&nbsp;</p>

        </div>
    </td>
</tr>









    <tr class="">
        <th>
            <div class="th">
                <label class="label-1">


                </label>
            </div>
        </th>
        <td>
            <div class="td ">

        <button type="submit" class="btn btn-info">提交</button>

            </div>
        </td>
    </tr>
    </tbody>
</table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
