{% extends "layout/register_template.html" %}
{% block body %}
    <div class="container">
        <div class="login-wrapper">
            <div class="center-section">
                <div class="form-1 login-form">
                    <form accept-charset="utf-8" method="post" action="">
                        <fieldset><legend>重置密码</legend></fieldset>
                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        <div class="th">
                                            <label class="label-1" for="email">邮箱:</label>
                                        </div>
                                    </th>
                                    <td>
                                        <div class="td">
                                            <input type="text" class="ipt" size="30" maxlength="80" value="" name="email" id="email">
                                            <p class="error">&nbsp;</p>
                                        </div>
                                    </td>   
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
                                        <div class="td">
                                            <a href="#" data-action="sendResetVerify" id="send_reset_verify" class="btn btn-success">发送重置密码邮件</a>    
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        seajs.use('dist/app/user/forget/index')
    </script>
{% endblock %}
