{% extends "layout/user_template.html" %}
{% block content %}
    <div class="content-extra password-form">
        <div class="center-section">
            <div class="form-1 login-form">
                <form accept-charset="utf-8" method="post" action="">
                    <fieldset><legend>修改密码</legend></fieldset>
                    <table>
                        <tbody>
                            <tr>
                                <th>
                                    <div class="th">
                                        <label class="label-1">原密码:</label>
                                    </div>
                                </th>
                                <td>
                                    <div class="td">
                                        <input type="text" class="ipt" size="30" maxlength="80" value="" name="old_password" id="old_password" style="width: 345px;">
                                        <p class="error">&nbsp;</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="th">
                                        <label class="label-1" for="password">新密码:</label>
                                    </div>
                                </th>
                                <td>
                                    <div class="td">
                                        <input type="password" class="ipt" size="30" value="" name="password" id="password" style="width: 345px;">
                                        <p class="error">&nbsp;</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="th">
                                        <label class="label-1" for="sure_password">确认密码:</label>
                                    </div>
                                </th>
                                <td>
                                    <div class="td">
                                        <input type="password" class="ipt" size="30" value="" name="sure_password" id="sure_password" style="width: 345px;">
                                        <p class="error">&nbsp;</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <div class="td">
                                        <a href="#" data-action="reset" class="btn btn-success">修改密码</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        seajs.use('dist/app/user/password/index');
    </script>
{% endblock %}
