{% extends "layout/register_template.html" %}
{% block body %}
    <div class="container">
        <div class="login-wrapper register-wrapper">
            <div class="center-section">
                <div class="form-1">
                    <form accept-charset="utf-8" method="post" action="">
                        <fieldset><legend>重置密码</legend></fieldset>
                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        <label class="label-1">邮箱:</label>
                                    </th>
                                    <td>
                                        <span>{{data.mail}}</span>
                                        <input id="code" name="" type="hidden" value="{{data.code}}"/>
                                    </td>
                                    <td><span class="error">&nbsp;</span></td>
                                </tr>
                                <tr>
                                    <th><label class="label-1" for="password">新密码:</label></th>
                                    <td><input type="password" placeholder="密码至少6位" class="ipt" size="30" value="" name="password" id="password">
                                    <p class="error">&nbsp;</p></td>

                                </tr>
                                <tr>
                                    <th><label class="label-1" for="password_sure">确认新密码:</label></th>
                                    <td><input type="password" class="ipt" size="30" value="" name="password_sure" id="password_sure">
                                    <p class="error">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td colspan="2">
                                        <a href="#" data-action="resetPassword" id="reset_password" class="btn btn-success">确认</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        seajs.use('dist/app/user/reset/index')
    </script>
{% endblock %}
